version: '3.8'

services:
  server:
    image: 'nginx:stable-alpine'
    volumes:
      - ./src:/var/www/html
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - '8000:80'
    container_name: nginx
  php:
    build:
      context: ./dockerfiles
      dockerfile: php.dockerfile
    container_name: php
    volumes:
      - ./src:/var/www/html:delegated
  mysql:
    image: 'mysql:5.7'
    volumes:
      - laravel_skeleton_data:/var/lib/mysql
    #restart: always
    env_file:
      - ./environments/mysql.env
  composer: #utility container
    build:
      context: ./dockerfiles
      dockerfile: composer.dockerfile
    volumes:
      - ./src:/var/www/html
  # artisan:
  # npm:

volumes:
  laravel_skeleton_data:
